In [1]:
# First let's import the packages we will use in this project
# You can do this all now or as you need them
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
plt.style.use('ggplot')
from matplotlib.pyplot import figure

%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12,8)

# pd.options.mode.chained_assignment = None

In [2]:
my_data = pd.read_excel(r"C:\Users\Dell\Desktop\Data Science\Power BI\Alex Power BI\Power BI - Final Project.xlsx")

In [3]:
# Take a copy of dataset to work on it

df = my_data.copy()

In [4]:
# show yhe dataframe size
df.shape

(630, 28)

In [5]:
#check the info of the dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 28 columns):
 #   Column                                                                                        Non-Null Count  Dtype
---  ------                                                                                        --------------  -----
 0   Unique ID                                                                                     630 non-null    object
 1   Email                                                                                         630 non-null    object
 2   Date Taken (America/New_York)                                                                 630 non-null    object
 3   Time Taken (America/New_York)                                                                 630 non-null    object
 4   Browser                                                                                       0 non-null      float64
 5   OS                                                                                            0 non-null      float64
 6   City                                                                                          0 non-null      float64
 7   Country                                                                                       0 non-null      float64
 8   Referrer                                                                                      0 non-null      float64
 9   Time Spent                                                                                    630 non-null    object
 10  Q1 - Which Title Best Fits your Current Role?                                                 630 non-null    object
 11  Q2 - Did you switch careers into Data?                                                        630 non-null    object
 12  Q3 - Current Yearly Salary (in USD)                                                           630 non-null    object
 13  Q4 - What Industry do you work in?                                                            630 non-null    object
 14  Q5 - Favorite Programming Language                                                            630 non-null    object
 15  Q6 - How Happy are you in your Current Position with the following? (Salary)                  623 non-null    float64
 16  Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)       620 non-null    float64
 17  Q6 - How Happy are you in your Current Position with the following? (Coworkers)               619 non-null    float64
 18  Q6 - How Happy are you in your Current Position with the following? (Management)              618 non-null    float64
 19  Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)         617 non-null    float64
 20  Q6 - How Happy are you in your Current Position with the following? (Learning New Things)     625 non-null    float64
 21  Q7 - How difficult was it for you to break into Data?                                         630 non-null    object
 22  Q8 - If you were to look for a new job today, what would be the most important thing to you?  630 non-null    object
 23  Q9 - Male/Female?                                                                             630 non-null    object
 24  Q10 - Current Age                                                                             630 non-null    int64
 25  Q11 - Which Country do you live in?                                                           630 non-null    object
 26  Q12 - Highest Level of Education                                                              578 non-null    object
 27  Q13 - Ethnicity                                                                               630 non-null    object
dtypes: float64(11), int64(1), object(16)
memory usage: 137.9+ KB

In [6]:
# Show the sum of null values in each column

df.isnull().sum()

Unique ID                                                                                         0
Email                                                                                             0
Date Taken (America/New_York)                                                                     0
Time Taken (America/New_York)                                                                     0
Browser                                                                                         630
OS                                                                                              630
City                                                                                            630
Country                                                                                         630
Referrer                                                                                        630
Time Spent                                                                                        0
Q1 - Which Title Best Fits your Current Role?                                                     0
Q2 - Did you switch careers into Data?                                                            0
Q3 - Current Yearly Salary (in USD)                                                               0
Q4 - What Industry do you work in?                                                                0
Q5 - Favorite Programming Language                                                                0
Q6 - How Happy are you in your Current Position with the following? (Salary)                      7
Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)          10
Q6 - How Happy are you in your Current Position with the following? (Coworkers)                  11
Q6 - How Happy are you in your Current Position with the following? (Management)                 12
Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)            13
Q6 - How Happy are you in your Current Position with the following? (Learning New Things)         5
Q7 - How difficult was it for you to break into Data?                                             0
Q8 - If you were to look for a new job today, what would be the most important thing to you?      0
Q9 - Male/Female?                                                                                 0
Q10 - Current Age                                                                                 0
Q11 - Which Country do you live in?                                                               0
Q12 - Highest Level of Education                                                                 52
Q13 - Ethnicity                                                                                   0
dtype: int64

In [7]:
# Lets see the precentage of missing data in each columns

df.isnull().sum() / df.shape[0] * 100

Unique ID                                                                                         0.000000
Email                                                                                             0.000000
Date Taken (America/New_York)                                                                     0.000000
Time Taken (America/New_York)                                                                     0.000000
Browser                                                                                         100.000000
OS                                                                                              100.000000
City                                                                                            100.000000
Country                                                                                         100.000000
Referrer                                                                                        100.000000
Time Spent                                                                                        0.000000
Q1 - Which Title Best Fits your Current Role?                                                     0.000000
Q2 - Did you switch careers into Data?                                                            0.000000
Q3 - Current Yearly Salary (in USD)                                                               0.000000
Q4 - What Industry do you work in?                                                                0.000000
Q5 - Favorite Programming Language                                                                0.000000
Q6 - How Happy are you in your Current Position with the following? (Salary)                      1.111111
Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)           1.587302
Q6 - How Happy are you in your Current Position with the following? (Coworkers)                   1.746032
Q6 - How Happy are you in your Current Position with the following? (Management)                  1.904762
Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)             2.063492
Q6 - How Happy are you in your Current Position with the following? (Learning New Things)         0.793651
Q7 - How difficult was it for you to break into Data?                                             0.000000
Q8 - If you were to look for a new job today, what would be the most important thing to you?      0.000000
Q9 - Male/Female?                                                                                 0.000000
Q10 - Current Age                                                                                 0.000000
Q11 - Which Country do you live in?                                                               0.000000
Q12 - Highest Level of Education                                                                  8.253968
Q13 - Ethnicity                                                                                   0.000000
dtype: float64

In [8]:
# Drop empty columns

df = df.dropna(how='all', axis=1)
df.isnull().sum()

Unique ID                                                                                        0
Email                                                                                            0
Date Taken (America/New_York)                                                                    0
Time Taken (America/New_York)                                                                    0
Time Spent                                                                                       0
Q1 - Which Title Best Fits your Current Role?                                                    0
Q2 - Did you switch careers into Data?                                                           0
Q3 - Current Yearly Salary (in USD)                                                              0
Q4 - What Industry do you work in?                                                               0
Q5 - Favorite Programming Language                                                               0
Q6 - How Happy are you in your Current Position with the following? (Salary)                     7
Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)         10
Q6 - How Happy are you in your Current Position with the following? (Coworkers)                 11
Q6 - How Happy are you in your Current Position with the following? (Management)                12
Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)           13
Q6 - How Happy are you in your Current Position with the following? (Learning New Things)        5
Q7 - How difficult was it for you to break into Data?                                            0
Q8 - If you were to look for a new job today, what would be the most important thing to you?     0
Q9 - Male/Female?                                                                                0
Q10 - Current Age                                                                                0
Q11 - Which Country do you live in?                                                              0
Q12 - Highest Level of Education                                                                52
Q13 - Ethnicity                                                                                  0
dtype: int64

In [9]:
# check the update
df.shape

(630, 23)

In [10]:
# show the dataset
df.head()

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Time Spent,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q3 - Current Yearly Salary (in USD),Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,...,Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,0:00:44,Data Analyst,Yes,106k-125k,Healthcare,Python,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,0:01:30,Data Analyst,No,41k-65k,Finance,R,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,0:02:18,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,0:02:10,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,0:01:51,Data Analyst,Yes,41k-65k,Healthcare,R,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American

In [11]:
# this is a Useless Column

df['Email'].unique()

array(['anonymous'], dtype=object)

In [12]:
# understandind some columns

df[['Date Taken (America/New_York)','Time Taken (America/New_York)','Time Spent']].head(3)

# The 'Time Spent' column is only important column for our analysis

  Date Taken (America/New_York) Time Taken (America/New_York) Time Spent
0                     6/10/2022                          8:38    0:00:44
1                     6/10/2022                          8:40    0:01:30
2                     6/10/2022                          8:42    0:02:18

In [13]:
# We will remove those columns becouse we wont use them in our analysis

#list of columns to be dropped
drop_cols = ['Email', 'Date Taken (America/New_York)', 'Time Taken (America/New_York)']

for col in drop_cols:
    df = df.drop(col, axis = 1 ) 
    

# Onther Method:    
# df = df.drop(columns = ["Email",Date Taken (America/New_York)', 'Time Taken (America/New_York)'])

In [14]:
# check the update
df.head()

,Unique ID,Time Spent,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q3 - Current Yearly Salary (in USD),Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,Q6 - How Happy are you in your Current Position with the following? (Salary),Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance),Q6 - How Happy are you in your Current Position with the following? (Coworkers),Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,0:00:44,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,0:01:30,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,0:02:18,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,0:02:10,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,0:01:51,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American

In [15]:
# The 'True' values is the sum of people records that selected 'Other (Please Specify)' option
df["Q1 - Which Title Best Fits your Current Role?"].str.contains("Other").value_counts()

False    542
True      88
Name: Q1 - Which Title Best Fits your Current Role?, dtype: int64

In [16]:
# The 'True' values is the sum of people records that selected 'Other (Please Specify)' option
df["Q4 - What Industry do you work in?"].str.contains("Other").value_counts()

False    425
True     205
Name: Q4 - What Industry do you work in?, dtype: int64

In [17]:
# The 'True' values is the sum of people records that selected 'Other (Please Specify)' option
df["Q5 - Favorite Programming Language"].str.contains("Other").value_counts()

False    535
True      95
Name: Q5 - Favorite Programming Language, dtype: int64

In [18]:
# The 'True' values is the sum of people records that selected 'Other (Please Specify)' option
df["Q8 - If you were to look for a new job today, what would be the most important thing to you?"].str.contains("Other").value_counts()

False    595
True      35
Name: Q8 - If you were to look for a new job today, what would be the most important thing to you?, dtype: int64

In [19]:
# The 'True' values is the sum of people records that selected 'Other (Please Specify)' option

df["Q11 - Which Country do you live in?"].str.contains("Other").value_counts()

# We found a high precentage for 'Other (Please Specify)' option in this column ,and this may harm our analysis 
# So we will try to reduce this precentage

False    406
True     224
Name: Q11 - Which Country do you live in?, dtype: int64

In [20]:
# The 'True' values is the sum of people records that selected 'Other (Please Specify)' option
df["Q13 - Ethnicity"].str.contains("Other").value_counts()

False    574
True      56
Name: Q13 - Ethnicity, dtype: int64

In [21]:
# Filter This Columns to remove Text After 'Other' beacouse it Wont use it in our Analysis
# Standardize those columns from 'Other (Please Specify):x' to 'Other'

df['Q1 - Which Title Best Fits your Current Role?'] = df['Q1 - Which Title Best Fits your Current Role?'].str.split(' \(Please', 1).str.get(0)
df['Q4 - What Industry do you work in?'] = df['Q4 - What Industry do you work in?'].str.split(' \(Please', 1).str.get(0)
df['Q5 - Favorite Programming Language'] = df['Q5 - Favorite Programming Language'].str.split(' \(Please', 1).str.get(0)
df['Q5 - Favorite Programming Language'] = df['Q5 - Favorite Programming Language'].str.split(':', 1).str.get(0)
df['Q8 - If you were to look for a new job today, what would be the most important thing to you?'] = df['Q8 - If you were to look for a new job today, what would be the most important thing to you?'].str.split(' \(Please', 1).str.get(0)
df['Q13 - Ethnicity'] = df['Q13 - Ethnicity'].str.split(' \(Please', 1).str.get(0)

In [22]:
# check the update
df.head()

,Unique ID,Time Spent,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q3 - Current Yearly Salary (in USD),Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,Q6 - How Happy are you in your Current Position with the following? (Salary),Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance),Q6 - How Happy are you in your Current Position with the following? (Coworkers),Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,0:00:44,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,0:01:30,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,0:02:18,Data Engineer,No,0-40k,Other,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,0:02:10,Other,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,0:01:51,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American

In [23]:
# We found a high precentage for 'Other (Please Specify)' option in this column 'Q11 - Which Country do you live in?'
# This may harm our analysis 
# So we will try to reduce this precentage
# We Will extract all corrected spelled countries from the this column

# Standardize all records as proper case:

df['Q11 - Which Country do you live in?'] = df['Q11 - Which Country do you live in?'].str.title()
df[["Country","Please Specify"]] = df["Q11 - Which Country do you live in?"].str.split('\(Please Specify\):',2, expand = True)
df

,Unique ID,Time Spent,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q3 - Current Yearly Salary (in USD),Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,Q6 - How Happy are you in your Current Position with the following? (Salary),Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance),Q6 - How Happy are you in your Current Position with the following? (Coworkers),...,Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity,Country,Please Specify
0,62a33b3db4da29969c62df3d,0:00:44,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,...,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian,United States,None
1,62a33ba1bae91e4b8b82e35c,0:01:30,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,...,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American,Canada,None
2,62a33c2cbc6861bf3176bec1,0:02:18,Data Engineer,No,0-40k,Other,Python,0.0,8.0,7.0,...,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American,Other,Nigeria
3,62a33c8624a26260273822f9,0:02:10,Other,Yes,150k-225k,Finance,R,10.0,6.0,7.0,...,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian,Canada,None
4,62a33c91f3072dd892621e03,0:01:51,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,...,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American,United States,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,62b525563f28f20328aeee5c,0:00:50,Data Analyst,Yes,125k-150k,Other,R,8.0,5.0,6.0,...,7.0,Easy,Better Salary,Male,26,United States,Bachelors,White or Caucasian,United States,None
626,62b5a3e29bc428d5345f6e89,0:03:12,Other,No,0-40k,Other,R,4.0,6.0,7.0,...,6.0,Difficult,Better Salary,Male,21,United States,Bachelors,White or Caucasian,United States,None
627,62b71083f31287f32e189026,0:04:43,Student/Looking/None,Yes,0-40k,Tech,Python,1.0,2.0,1.0,...,2.0,Difficult,Better Salary,Male,26,Other (Please Specify):Oman,Bachelors,Asian or Asian American,Other,Oman
628,62b795033b026e423f287ecd,0:02:17,Data Engineer,No,0-40k,Tech,Python,6.0,6.0,6.0,...,3.0,Easy,Other,Male,24,Other (Please Specify):Costa Rica,Bachelors,Hispanic or Latino,Other,Costa Rica
629,62b89039377223ff07b80fb5,0:01:19,Data Analyst,No,41k-65k,Other,Python,8.0,7.0,6.0,...,8.0,Easy,Remote Work,Male,22,United States,Bachelors,Asian or Asian American,United States,None

In [24]:
# Fill null values in the 'Please Specify' column with values from the 'country' column

df['Country2'] = df['Please Specify'].fillna(df['Country'])
df.head()

,Unique ID,Time Spent,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q3 - Current Yearly Salary (in USD),Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,Q6 - How Happy are you in your Current Position with the following? (Salary),Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance),Q6 - How Happy are you in your Current Position with the following? (Coworkers),...,Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity,Country,Please Specify,Country2
0,62a33b3db4da29969c62df3d,0:00:44,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,...,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian,United States,None,United States
1,62a33ba1bae91e4b8b82e35c,0:01:30,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,...,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American,Canada,None,Canada
2,62a33c2cbc6861bf3176bec1,0:02:18,Data Engineer,No,0-40k,Other,Python,0.0,8.0,7.0,...,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American,Other,Nigeria,Nigeria
3,62a33c8624a26260273822f9,0:02:10,Other,Yes,150k-225k,Finance,R,10.0,6.0,7.0,...,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian,Canada,None,Canada
4,62a33c91f3072dd892621e03,0:01:51,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,...,Difficult,Better Salary,Male,44,United States,NaN,Black or African American,United States,None,United States

In [25]:
# Add a list I had before for world countries with Correct spelling

Correct_spell_country = ['Afghanistan','Albania','Algeria','Andorra',
 'Angola','Antigua and Barbuda','Argentina','Armenia','Austria','Azerbaijan','Bahrain','Bangladesh','Barbados','Belarus',
 'Belgium','Belize','Benin','Bhutan','Bolivia','Bosnia and Herzegovina','Botswana','Brazil','Brunei','Bulgaria','Burkina Faso','Burundi',
 'Cabo Verde','Cambodia','Cameroon','Canada','Central African Republic','Chad','Channel Islands','Chile','China','Colombia','Comoros',
 'Congo','Costa Rica',"CÃ´te d'Ivoire",'Croatia','Cuba','Cyprus','Czech Republic','Denmark','Djibouti','Dominica',
 'Dominican Republic','DR Congo','Ecuador','Egypt','El Salvador','Equatorial Guinea','Eritrea','Estonia','Eswatini','Ethiopia',
 'Faeroe Islands','Finland','France','French Guiana','Gabon','Gambia','Georgia','Germany','Ghana','Gibraltar','Greece',
 'Grenada','Guatemala','Guinea','Guinea-Bissau','Guyana','Haiti','Holy See','Honduras','Hong Kong','Hungary',
 'Iceland','India','Indonesia','Iran','Iraq','Ireland','Isle of Man','Italy','Jamaica','Japan','Jordan','Kazakhstan','Kenya','Kuwait',
 'Kyrgyzstan','Laos','Latvia','Lebanon','Lesotho','Liberia','Libya','Liechtenstein','Lithuania','Luxembourg','Macao','Madagascar','Malawi','Malaysia',
 'Maldives','Mali','Malta','Mauritania','Mauritius','Mayotte','Mexico','Moldova','Monaco','Mongolia','Montenegro',
 'Morocco','Mozambique','Myanmar','Namibia','Nepal','Netherlands','Nicaragua','Niger','Nigeria','North Korea','North Macedonia','Norway',
 'Oman','Palestine','Pakistan','Panama','Paraguay','Peru','Philippines','Poland','Portugal','Qatar','RÃ©union','Romania','Russia',
 'Rwanda','Saint Helena','Saint Kitts and Nevis','Saint Lucia','Saint Vincent and the Grenadines','San Marino',
 'Sao Tome & Principe','Saudi Arabia','Senegal','Serbia','Seychelles','Sierra Leone','Singapore','Slovakia',
 'Slovenia','Somalia','South Africa','South Korea','South Sudan','Spain','Sri Lanka','State of Palestine','Sudan',
 'Suriname','Sweden','Switzerland','Syria','Taiwan','Tajikistan','Tanzania','Thailand','The Bahamas','Timor-Leste','Togo','Trinidad and Tobago','Tunisia','Turkey',
 'Turkmenistan','Uganda','Ukraine','United Arab Emirates','United Kingdom','United States','Uruguay','Uzbekistan',
 'Venezuela','Vietnam','Western Sahara','Yemen','Zambia','Zimbabwe']

# Correct_spell_country

In [26]:
# Check if the values in the 'Country2' column are in Correct_spell_country list
# If True  --> Keep it
# If False --> Replace it with 'Other'

df['Country2'] = df['Country2'].apply(lambda x: x if x in Correct_spell_country else 'Other')
df.head(8)

,Unique ID,Time Spent,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q3 - Current Yearly Salary (in USD),Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,Q6 - How Happy are you in your Current Position with the following? (Salary),Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance),Q6 - How Happy are you in your Current Position with the following? (Coworkers),...,Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity,Country,Please Specify,Country2
0,62a33b3db4da29969c62df3d,0:00:44,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,...,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian,United States,None,United States
1,62a33ba1bae91e4b8b82e35c,0:01:30,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,...,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American,Canada,None,Canada
2,62a33c2cbc6861bf3176bec1,0:02:18,Data Engineer,No,0-40k,Other,Python,0.0,8.0,7.0,...,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American,Other,Nigeria,Nigeria
3,62a33c8624a26260273822f9,0:02:10,Other,Yes,150k-225k,Finance,R,10.0,6.0,7.0,...,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian,Canada,None,Canada
4,62a33c91f3072dd892621e03,0:01:51,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,...,Difficult,Better Salary,Male,44,United States,NaN,Black or African American,United States,None,United States
5,62a33cb6cf25554317300177,0:02:34,Data Analyst,Yes,0-40k,Other,Python,2.0,3.0,3.0,...,Difficult,Good Work/Life Balance,Male,33,Other (Please Specify):Republic Democratic Of ...,NaN,Black or African American,Other,Republic Democratic Of Congo,Other
6,62a33cb72e54c9003e531c65,0:01:15,Data Scientist,Yes,0-40k,Finance,Python,0.0,6.0,6.0,...,Difficult,Better Salary,Male,24,Other (Please Specify),NaN,Black or African American,Other (Please Specify),None,Other
7,62a33cd30f8c8599d5af0f8f,0:01:25,Data Engineer,Yes,125k-150k,Other,Other,10.0,5.0,5.0,...,Neither easy nor difficult,Remote Work,Male,35,United States,NaN,Asian or Asian American,United States,None,United States

In [27]:
# Remove uless columns

df["Q11 - Which Country do you live in?"] = df['Country2']
df = df.drop(columns = ["Country","Country2", "Please Specify"])
df.head(8)

,Unique ID,Time Spent,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q3 - Current Yearly Salary (in USD),Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,Q6 - How Happy are you in your Current Position with the following? (Salary),Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance),Q6 - How Happy are you in your Current Position with the following? (Coworkers),Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,0:00:44,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,0:01:30,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,0:02:18,Data Engineer,No,0-40k,Other,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,0:02:10,Other,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,0:01:51,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American
5,62a33cb6cf25554317300177,0:02:34,Data Analyst,Yes,0-40k,Other,Python,2.0,3.0,3.0,3.0,3.0,2.0,Difficult,Good Work/Life Balance,Male,33,Other,NaN,Black or African American
6,62a33cb72e54c9003e531c65,0:01:15,Data Scientist,Yes,0-40k,Finance,Python,0.0,6.0,6.0,6.0,6.0,5.0,Difficult,Better Salary,Male,24,Other,NaN,Black or African American
7,62a33cd30f8c8599d5af0f8f,0:01:25,Data Engineer,Yes,125k-150k,Other,Other,10.0,5.0,5.0,5.0,5.0,9.0,Neither easy nor difficult,Remote Work,Male,35,United States,NaN,Asian or Asian American

In [28]:
# The 'True' values is the sum of people records that selected 'Other (Please Specify)' option

df["Q11 - Which Country do you live in?"].str.contains("Other").value_counts()

# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
# So We had reduced this precentage from 224 to 57 
# $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

False    573
True      57
Name: Q11 - Which Country do you live in?, dtype: int64

In [29]:
# df[df['Q5 - Favorite Programming Language'].str.contains("Other")]

In [30]:
# df['Q5 - Favorite Programming Language'].unique()

In [31]:
# df['Q13 - Ethnicity'].unique()

In [32]:
# df['Q8 - If you were to look for a new job today, what would be the most important thing to you?'].unique()

In [33]:
# df['Q4 - What Industry do you work in?'].unique()

In [34]:
# df['Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)'].unique()

In [35]:
# df["Q13 - Ethnicity"].value_counts()

In [36]:
# Replace 'NaN' with 'Prefar Not To Answer' in df["Q12 - Highest Level of Education"] 
# Replace 'NaN' with '0' in all Dataframe 

df['Q12 - Highest Level of Education'] = df['Q12 - Highest Level of Education'].fillna('Prefer Not To Answer')
df = df.fillna(0)
df.isnull().sum()

Unique ID                                                                                       0
Time Spent                                                                                      0
Q1 - Which Title Best Fits your Current Role?                                                   0
Q2 - Did you switch careers into Data?                                                          0
Q3 - Current Yearly Salary (in USD)                                                             0
Q4 - What Industry do you work in?                                                              0
Q5 - Favorite Programming Language                                                              0
Q6 - How Happy are you in your Current Position with the following? (Salary)                    0
Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)         0
Q6 - How Happy are you in your Current Position with the following? (Coworkers)                 0
Q6 - How Happy are you in your Current Position with the following? (Management)                0
Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)           0
Q6 - How Happy are you in your Current Position with the following? (Learning New Things)       0
Q7 - How difficult was it for you to break into Data?                                           0
Q8 - If you were to look for a new job today, what would be the most important thing to you?    0
Q9 - Male/Female?                                                                               0
Q10 - Current Age                                                                               0
Q11 - Which Country do you live in?                                                             0
Q12 - Highest Level of Education                                                                0
Q13 - Ethnicity                                                                                 0
dtype: int64

In [37]:
df

,Unique ID,Time Spent,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q3 - Current Yearly Salary (in USD),Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,Q6 - How Happy are you in your Current Position with the following? (Salary),Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance),Q6 - How Happy are you in your Current Position with the following? (Coworkers),Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,0:00:44,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,Prefer Not To Answer,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,0:01:30,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,Prefer Not To Answer,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,0:02:18,Data Engineer,No,0-40k,Other,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Nigeria,Prefer Not To Answer,Black or African American
3,62a33c8624a26260273822f9,0:02:10,Other,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,Prefer Not To Answer,White or Caucasian
4,62a33c91f3072dd892621e03,0:01:51,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,Prefer Not To Answer,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,62b525563f28f20328aeee5c,0:00:50,Data Analyst,Yes,125k-150k,Other,R,8.0,5.0,6.0,6.0,5.0,7.0,Easy,Better Salary,Male,26,United States,Bachelors,White or Caucasian
626,62b5a3e29bc428d5345f6e89,0:03:12,Other,No,0-40k,Other,R,4.0,6.0,7.0,7.0,4.0,6.0,Difficult,Better Salary,Male,21,United States,Bachelors,White or Caucasian
627,62b71083f31287f32e189026,0:04:43,Student/Looking/None,Yes,0-40k,Tech,Python,1.0,2.0,1.0,2.0,1.0,2.0,Difficult,Better Salary,Male,26,Oman,Bachelors,Asian or Asian American
628,62b795033b026e423f287ecd,0:02:17,Data Engineer,No,0-40k,Tech,Python,6.0,6.0,6.0,6.0,4.0,3.0,Easy,Other,Male,24,Costa Rica,Bachelors,Hispanic or Latino
629,62b89039377223ff07b80fb5,0:01:19,Data Analyst,No,41k-65k,Other,Python,8.0,7.0,6.0,7.0,6.0,8.0,Easy,Remote Work,Male,22,United States,Bachelors,Asian or Asian American

# And Now our data are clean and ready to Power BI

In [38]:
# Export to a Excel File
df.to_excel(r"C:\Users\Dell\Desktop\Data Science\Power BI\Alex Power BI\Cleaned Power BI - Final Project.xlsx", sheet_name = 'Cleaned Data Survey', index = True)